// Colors

$white: #f5f5f5;
$green: #8dc63f;
$grey: #949ca1;
$greyLight: rgba(148, 156, 161, 0.75);
$greenDark: #6daa13;
$black: #58595b;
$blackLight: rgba(88, 89, 91, 0.5);
$blue: #38c3f2;
$red: #f04c41;

// Spacing

$gutter: 35px;

// Transition

$transition: all 0.35s ease;