@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,800italic,700,700italic,400italic,300italic);

// ----------------------------

// Variables

// ----------------------------

$green: #8dc63f;
$grey: #949ca1;
$greyLight: rgba(148, 156, 161, 0.5);
$white: #f5f5f5;
$whiteLight: rgba(245, 245, 245, 0.5);
$black: #231f20;
$blackLight: rgba(35, 31, 32, 0.75);

$gutter: 10px;

$transition: all 0.35s ease;

// ----------------------------

// Page Generals

// ----------------------------

body {
	background-color: $whiteLight;
	color: $blackLight;
}

.container {
	padding-top: $gutter;
	padding-bottom: $gutter;
}

.space {
	padding-bottom: $gutter/4;
}

// ----------------------------

// Typography

// ----------------------------

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 700;
	
	&.heavy {
		font-weight: 800;
	}

}

h2 {
	font-weight: 700;
	
	&.heavy {
		font-weight: 800;
	}

}

h3 {
	font-weight: 700;
	
	&.heavy {
		font-weight: 800;
	}

}

p {
	font-weight: 400;

	&.heavy {
		font-weight: bold;
	}

	&.light {
		font-weight: 300;
	}

}

// ----------------------------

// Header and Jumbotron

// ----------------------------

.navbar, .navbar-default {
	margin-bottom: 0px;
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid $greyLight;
}

.navbar-brand {
	height: auto;
	
	img {
		width: 100px;
		max-width: 80%;
	}

}

.jumbotron {
	background: url(../images/hero-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $white;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 12px;
	border-bottom: 5px solid $grey;

	h2 {
		color: $green;
		font-size: 2em;
		line-height: 1.25em;
	}

	h1, h3, p {
		padding-bottom: $gutter;
	}

	a.start {
		font-size: 1em;
		font-weight: bold;
		color: $white;
		text-decoration: none;
		padding: $gutter/2 $gutter;
		border: 1px solid $white;
		border-radius: 3.5px;
		transition: $transition;

		&:hover {
			background: $green;
			border: 1px solid $green;
		}

	}

	.buttons {

		.content {
			margin: $gutter*2 auto;
		}

	}

	.blockquote {
		color: $green;

		h2 {
			font-weight: 700;
			font-style: italic;
			font-size: 2.25em;
		}

		p {
			font-size: 1.25em;
		}

		.light {
			color: $white;
		}

	}

}

// ----------------------------

// Receipts Section

// ----------------------------

.receipts {

	h2 {
		font-weight: 700;
		font-size: 1.75em;
		line-height: 1.25em;
		color: $green;
	}

}

// ----------------------------

// Form

// ----------------------------

.form {
	padding-top: $gutter/2;
	padding-bottom: $gutter/2;

	h4 {
		padding-bottom: $gutter;
		color: $blackLight;
		// font-weight: bold;
		font-size: 1.75em;

		span {
			font-weight: bold;
		}

	}

}

.form-text {
	padding-top: 50px;
}

form {

	width: 80%;
	margin: 0px auto;

	input {
		display: block;
		width: 100%;
		margin: $gutter*2 auto;
		padding: $gutter/5;
	}

	input[type="radio"] {
		display: inline;
		width: auto;
	}

	.infusion-radio {
		margin-top: $gutter;
		margin-bottom: $gutter;
	}

	label {
		font-weight: normal;
		padding-left: $gutter/4;
	}

	span {
		padding-left: $gutter/2;
		font-size: .75em;
	}

	input[type=text], textarea {
	  -webkit-transition: all 0.30s ease-in-out;
	  -moz-transition: all 0.30s ease-in-out;
	  -ms-transition: all 0.30s ease-in-out;
	  -o-transition: all 0.30s ease-in-out;
	  outline: none;
	  border: 1px solid $grey;
	  border-radius: 3.5px;
	}

	input[type=text]:focus, textarea:focus {
	  box-shadow: 0 0 5px $green;;
	  border: 1px solid $green;;
	}

	input[type="submit"] {
		width: 50%;
		margin: 0px auto;
		color: $white;
		background: $grey;
		border: 1px solid $grey;
		border-radius: 3.5px;
		font-weight: bold;
		transition: $transition;
		
		&:hover {
			background: $green;
			border: 1px solid $green;
		}

	}

}

.info-form {
	input {
		max-width: 320px;
		margin: $gutter auto;
	}
}

img.receipt {
	margin-top: $gutter/2;
	margin-left: $gutter;
	margin-right: $gutter;
	max-width: 120px;
}

@media  (max-width : 1199px) {

	h4 {
		padding-top: $gutter;
	}

	.pageCTA {
		display: block !important;
	}

	.form-text {
		padding-top: 0px;
	}

}

@media (max-width: 473px) {

	img.two {
		display: none;
	}

}



// ----------------------------

// Four Columns

// ----------------------------

.four-columns {
	padding-top: $gutter;
	padding-bottom: $gutter;
	color: $white;
	background-color: $green;
	margin-bottom: $gutter;
	
	img {
		max-width: 75px;
		margin: 0px auto;
	}

}

.footer-button {
	
	margin: $gutter auto;

	a {
		font-size: 1.5em;
		font-weight: bold;
		color: $white;
		text-decoration: none;
		padding: $gutter/2 $gutter;
		border: 1px solid $grey;
		border-radius: 3.5px;
		background-color: $grey;
		transition: $transition;

		&:hover {
			background: $green;
			border: 1px solid $green;
			color: $white;
		}
	}
}

.pageCTA {
	
	margin-top: $gutter*2;
	margin-bottom: $gutter;
	display: none;

	a {
		font-size: 1.75em;
		font-weight: bold;
		color: $white;
		text-decoration: none;
		padding: $gutter/2 $gutter;
		border: 2px solid $white;
		border-radius: 3.5px;
		transition: $transition;

		&:hover {
			background: $white;
			border: 2px solid $white;
			color: $green;
		}

		&.white {
			color: $green;
			border: 2px solid $green;
			
			&:hover {
				background: $green;
				color: $white;
			}

		}

	}

}


// ----------------------------

// Footer

// ----------------------------

footer {
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding-top: $gutter/4;
	padding-bottom: $gutter/4;
	text-align: center;
	background-color: $black;
	color: $white;
	border-top: 5px solid $grey;
	
	a {
		color: $white;
		transition: $transition;

		&:hover {
			color: $green;
			text-decoration: none;
		}

	}

}

// New Mobile Nav with Phone Number

// HEADER/NAVIGATION - Primarily Bootstrap Modifications

// Desktop Nav Changes

@media (min-width: 768px) {
	.navbar {
	    border-radius: 0px;
	    // padding: 15px 0px;
	}

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}

	.menu-button {
		margin-top: 5px;
		padding-top: 7.5px !important;
		padding-bottom: 7.5px !important;
		padding-left: 25px !important;
		padding-right: 25px !important;
		border: 1px solid $green !important;
		background: $green !important;
		color: $black !important;
		border-radius: 35px;
		transition: all 0.35s ease;
	}

	.menu-button:hover {
		border: 1px solid $green !important;
		background: $green !important;
		color: $white !important;
	}

}

.navbar-brand {
	img {
		max-width: 200px;
		padding: 0px 1px;
	}
}

.navbar-default {
	background: none;
	border: none;
	border-bottom: 2px solid $whiteLight;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li, .navbar-default .navbar-nav>li>a {
	color: $green;
	font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: $green;
}

// Mobile Nav Changes

@media (max-width: 768px) {
	.navbar-default .navbar-toggle {
		border: none;
		background: transparent !important;

		&:hover {
			background: transparent !important;
		}
		
		.icon-bar {
			background-color: $green;
		}

	}

	.nav {
		text-align: center;
	}

	.navbar-default .navbar-collapse {
		border: none;
		border-top: 2px solid $whiteLight;
		background: rgba(0, 0, 0, 0.50);
		font-weight: bold;

		.navbar-nav>li>a {
			color: $grey;
		
			&:hover {
				color: $green;
			}

		}

	}

}

// Fixes BG Color for Menu Icon

.navbar-inverse .navbar-inner {
background-image: none;
background-color: none;
}

// Animates Menu Icon on Open/Close

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.35s;
  }

  .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
  }

}

.navbar-toggle.collapsed {
  .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}

// 768PX Fix
@media (min-width: 768px) and (max-width: 768px) {
	.navbar-default .navbar-collapse {
		border-top: none;
		background: none;
		font-weight: normal;
	}
	.navbar-default .navbar-collapse .navbar-nav > li > a {
		color: $green;
	}
}





















